@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); 
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"); 

.countdown-timer { 
  display: flex;
  gap : 16px ; 
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  justify-content: center;
  width: auto;
  height: 50px; 
  padding : 10px ; 

 } 


.date {
 display : flex ; 
flex-direction: column;
align-items: center;
gap : 4px; 
} 

.date-unit{
font-style:bold ;
display : flex ;  
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #000000;

}  

.date-value{ 
display : flex ;  
width: 46px;
height: 28px;
font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 1;
letter-spacing: 0.05em;


}



.colon { 
  display: flex;
  align-items: center;
  font-size: 35px; /* Larger size for better visibility */
  color: #E07575;  
  margin: 0 8px;
  transform: translateY(8px);

}